.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: relative;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

/* Eliminamos la animación de desplazamiento */
.product-card:hover {
    box-shadow: 0 4px 10px rgb(134, 4, 160);
}

@media (max-width: 768px) {
    .product-card {
        transform: scale(0.85);
    }
}

@media (max-width: 480px) {
    .product-card {
        transform: scale(0.75);
    }
}

.product-card h3 {
    margin: 0 0 8px 0;
    font-size: 1.2rem;
    color: var(--color-primary);
}

.product-image {
    width: 100%;
    height: auto;
    max-height: 120px;
    object-fit: contain;
    margin-bottom: 8px;
}

.product-description {
    font-size: 0.8rem;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.product-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    font-size: 0.9rem;
    color: var(--color-primary);
}

.product-button {
    background-color: rgb(121, 30, 109);
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    width: 100px;
}

.product-button:hover {
    background-color: rgb(8, 58, 116);
}

/* Animación de parpadeo */
@keyframes blink {
    0%, 100% { background-color: green; }
    50% { background-color: initial; }
}

.product-button.blink {
    animation: blink 0.5s ease-in-out;
}
