.product-details {
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-details h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--color-primary);
}

.product-details .product-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
}

.product-details p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

.product-details button {
    background-color: rgb(121, 30, 109);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-details button:hover {
    background-color: rgb(8, 58, 116);
}

.product-image-large {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 20px 0;
}

.product-image {
    width: 100%;
    height: auto;
    max-height: 300px; /* Ajusta el tamaño de la imagen */
    object-fit: cover;
    margin-bottom: 16px;
}

.add-to-cart-button {
    background-color: rgb(121, 30, 109);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: rgb(8, 58, 116);
}
